<h1>レビューの新規登録</h1>
<% if @review.errors.any? %>
    <ul>
        <% @review.errors.full_messages.each do | err | %>
            <li>
                <%= err %>
            </li>
            <% end %>
    </ul>
    <%end%>
        <table class="table table-borderless">
            <%= form_for(@review, url:{controller:'review', action:'create'}) do |form| %>
                <tr>
                    <th>ID</th>
                    <td>
                        <%= form.number_field :bookcard_id, :class=>"form-control" %>
                    </td>
                </tr>
                <tr>
                    <th>タイトル</th>
                    <td>
                        <%= form.text_field :title, :class=>"form-control" %>
                    </td>
                </tr>
                <tr>
                    <th>レビュー</th>
                    <td>
                        <%= form.text_field :review, :class=>"form-control" %>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <%= form.submit "送信", :class=>"btn btn-primary" %>
                    </td>
                </tr>
                <% end %>
        </table>