<h1>編集</h1>
<%= form_for(@book, url:{controller:'cards', action:'update', id:@book.id}) do |form| %>
<table class="table table-borderless">
    
        <tr>
            <th>題名</th>
            <td>
                <%= form.text_field :title, :class=>'form-control'%>
            </td>
        </tr>
        <tr>
            <th>著者</th>
            <td>
                <%= form.text_field :author, :class=>'form-control'%>
            </td>
        </tr>
        <tr>
            <th>価格</th>
            <td>
                <%= form.number_field :price, :class=>'form-control'%>
            </td>
        </tr>
        <tr>
            <th>出版社</th>
            <td>
                <%= form.text_field :publisher, :class=>'form-control'%>
            </td>
        </tr>
        <tr>
            <th>評価</th>
            <td>
                <label>
                    <%=form.radio_button :evaluation, '1'%>1</label>
                <label>
                    <%=form.radio_button :evaluation, '2'%>2</label>
                <label>
                    <%=form.radio_button :evaluation, '3'%>3</label>
                <label>
                    <%=form.radio_button :evaluation, '4'%>4</label>
                <label>
                    <%=form.radio_button :evaluation, '5'%>5</label>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <%= form.submit "保存", :class=>"btn btn-primary"%>
            </td>
        </tr>
    
</table>
<%end%>

