<h1>読書済み書籍一覧</h1>
<p>読書済みの書籍を紹介しています。サイト運営者のレビューなども記載しています。</p>
<p>新規登録は上記の”登録”からできます。右上のフォームから書籍の検索もできます。</p>

<div class="table-responsive">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>題名</th>
            <th>著者</th>
            <th colspan="2"></th>
        </tr>
    </thead>

    <% @book.each do | book | %>
        <tr>
            <td>
                <%= book.id %>
            </td>
            <td>
                <a href="/cards/<%=book.id%>">
                    <%= book.title %>
                </a>
            </td>
            <td>
                <% book.author%>
            </td>
            <td>
                <a href="/cards/edit/<%= book.id %>">編集</a>
            </td>
            <td>
                <a href="javascript:window.delData(
                <%= (book.id.to_s + " , '".to_s + book.title.to_s).html_safe %>'); ">削除</a>
            </td>
        </tr>
    <%end%>
</table>
</div>
<p class="link "><a href="/cards/add ">※新しいデータを入力　&gt;&gt;</a></p>