<h1>書籍の詳細</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>題名</th>
            <td>
                <%= @book.title %>
            </td>
        </tr>
    </thead>
    <tr>
        <th>著者</th>
        <td>
            <%= @book.author %>
        </td>
    </tr>
    <tr>
        <th>価格</th>
        <td>
            <%= @book.price %>
        </td>
    </tr>
    <tr>
        <th>出版社</th>
        <td>
            <%= @book.publisher %>
        </td>
    </tr>
    <tr>
        <th>評価</th>
        <td>
            <%= @book.evaluation %>
        </td>
    </tr>
    <tr>
        <th>レビュー</th>
        <td>
        <% if  @book.review.nil?%>
            まだ、レビューはありません。
        <%else%>
            <%= @book.review.review %>
        <%end%>   
        </td>
    </tr>
</table>

<p><a href="/review/add">＞＞この本のレビューを書く</a>

<p class="link">
    <a href="/cards">&lt;&lt; ※トップページに戻る</a>
</p>